
<div class='demo-app'>

  <div class='demo-app-main'>
    <full-calendar #calendar [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>

    <div class="calendar-footer">
    <div class="color-legend">
      <h3>Leyenda de Colores</h3>
      <div class="legend-items">
        <div class="legend-item">
          <div class="color-box completed-day"></div>
          <span class="legend-label">Horas Completadas</span>
        </div>
        <div class="legend-item">
          <div class="color-box weekend-day"></div>
          <span class="legend-label">Fin de Semana</span>
        </div>
        <div class="legend-item">
          <div class="color-box holiday-day"></div>
          <span class="legend-label">Día Feriado</span>
        </div>
        <div class="legend-item">
          <div class="color-box current-day"></div>
          <span class="legend-label">Día Actual</span>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
