<h2 mat-dialog-title>Editar Cliente</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="customer-form">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tipo de Identificación</mat-label>
      <mat-select formControlName="idtype">
        @for (type of identificationTypes; track type) {
        <mat-option [value]="type.id">{{type.name}}</mat-option>
      }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Número de Identificación</mat-label>
      <input matInput formControlName="idnumber">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre Comercial</mat-label>
      <input matInput formControlName="commercialname">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Razón Social</mat-label>
      <input matInput formControlName="companyname">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono Móvil</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="editForm.get('phone')?.hasError('pattern')">
        Formato de teléfono inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="editForm.get('email')?.hasError('email')">
        Formato de email inválido
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="var(--primary)" (click)="onSubmit()" [disabled]="!editForm.valid">Guardar</button>
</mat-dialog-actions>
