.list-container {
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}

.mat-column-actions {
  width: 80px;
  text-align: center;
}
