<h4 mat-dialog-title style="margin: 10px; font-family: 'Poppins'">
  {{ isEditMode ? 'Editar Cliente' : 'Crear Nuevo Cliente' }}
</h4>
<mat-dialog-content>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="customer-form" style="margin-top: 6px;">

    <div class="section-title" style="font-family: 'Poppins';">Datos del Cliente</div>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field-half">
        <mat-label style="font-family: 'Poppins'; ">Empresa</mat-label>
        <input matInput formControlName="tradeName">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field-half">
        <mat-label style="font-family: 'Poppins'; ">Tipo de Compañía</mat-label>
        <mat-select formControlName="company">
          <mat-option value="ISC">ISC</mat-option>
          <mat-option value="RPS">RPS</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="person">
      <div class="section-title" style="font-family: 'Poppins';">Datos de Contacto</div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins';">Tipo de Persona</mat-label>
          <mat-select formControlName="personType">
            @for (type of personTypes; track type) {
              <mat-option [value]="type.id">{{type.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Tipo de Identificación</mat-label>
          <mat-select formControlName="identificationTypeId">
            @for (type of identificationTypes; track type) {
              <mat-option [value]="type.id">{{type.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label style="font-family: 'Poppins'; ">Número de Identificación</mat-label>
          <input matInput formControlName="identificationNumber">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Nombres</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Apellidos</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="form-row">

        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="clientForm.get('person.email')?.hasError('email')">
            Formato de email inválido
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Teléfono</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="clientForm.get('person.phone')?.hasError('pattern')">
            El teléfono debe contener solo números (máximo 10 dígitos)
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">Dirección</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label style="font-family: 'Poppins'; ">País</mat-label>
          <mat-select formControlName="nationalityId">
            @for (nation of nationalities; track nation) {
              <mat-option [value]="nation.id">{{nation.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button
          style="background-color: var(--itg-primary); color: var(--itg-bg)"
          (click)="onSubmit()"
          [disabled]="!clientForm.valid || clientForm.pending"
          [class.disabled-button]="!clientForm.valid">
    Guardar
  </button>
</mat-dialog-actions>
