<h2>Editar Líder</h2>
<mat-dialog-content>
    <form [formGroup]="editForm" class="">

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="idtype">
              @for (type of identificationTypes; track type) {
              <mat-option [value]="type.id">{{type.name}}</mat-option>
            }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Número de Identificación</mat-label>
            <input matInput formControlName="idnumber">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="names">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="surnames">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender">
              @for (type of genders; track type) {
              <mat-option [value]="type.id">{{type.name}}</mat-option>
            }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Teléfono Móvil</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="editForm.get('phone')?.hasError('pattern')">
              Formato de teléfono inválido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="position">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Correo Personal</mat-label>
            <input matInput formControlName="pemail">
            <mat-error *ngIf="editForm.get('pemail')?.hasError('email')">
              Formato de email inválido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Correo Corporativo</mat-label>
            <input matInput formControlName="cemail">
            <mat-error *ngIf="editForm.get('cemail')?.hasError('email')">
              Formato de email inválido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Dirección Domicilio</mat-label>
            <input matInput formControlName="homeAddress">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Tipo de Líder</mat-label>
            <mat-select formControlName="leaderType">
              @for (type of leaderTypes; track type) {
              <mat-option [value]="type.id">{{type.name}}</mat-option>
            }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Código Proyecto</mat-label>
            <input matInput formControlName="projectCode">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Código Cliente</mat-label>
            <input matInput formControlName="customerCode">
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="var(--primary)" (click)="onSubmit()" [disabled]="!editForm.valid">Guardar</button>
</mat-dialog-actions>
