#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  background-color: var(--primary);

  .left, .right {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--light)
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;

    .time-icon {
      margin-right: 8px;
    }
  }

  .username {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    .user-icon {
      margin-right: 6px;
      font-size: 20px;
    }
  }

  .logout-button {
    background-color: var(--secondary);
    color: var(--light);

    &:hover {
      background-color: var(--tertiary);
    }

    .logout-text {
      margin-left: 4px;
    }
  }

  .menu-button {
    display: none;
    margin-right: 8px;
    color: var(--light);
  }

  /* Responsive para móviles */
  @media (max-width: 767px) {
    .menu-button {
      display: block;
    }

    .logout-text {
      display: none;
    }

    .username {
      font-size: 0.8rem;
    }
  }

  /* Versión muy pequeña */
  @media (max-width: 480px) {
    .username-text {
      display: none;
    }
  }
}
