#header-container {
  width: 90%;
  background-color: #154a91; // azul profesional
  color: white;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // sombra suave

  .logo {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .username {
      font-weight: 500;
      font-size: 1rem;
    }

    .logout-button {
      background-color: white;
      color: #154a91;
      border: none;
      padding: 1rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #e3e3e3;
      }
    }
  }
}
