<h2 mat-dialog-title>{{ data.isEdit ? 'Editar actividad' : 'Agregar actividad' }}</h2>

<mat-dialog-content>
  <div class="form-container">

    <mat-form-field appearance="outline" class="full-width">
      <mat-select [(ngModel)]="event.activityTypeID" required placeholder="Tipo de Actividad" name="activityType">
        @for (type of activityTypes; track type.id) {
          <mat-option [value]="type.id">{{type.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-select [(ngModel)]="event.projectId"
                    (ngModelChange)="onProjectChange($event)"
                    required
                    placeholder="Proyecto"
                    name="project">
            @if (projects.length > 0) {
                @for (project of projects; track project.id) {
                    <mat-option [value]="project.id">{{project.name}}</mat-option>
                }
            } @else {
                <mat-option disabled>No tienes proyectos asignados</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <input matInput
            [(ngModel)]="event.requirementCode"
            placeholder="Código de Requerimiento"
            [required]="!event.projectId"
            [disabled]="!!event.projectId"
            name="requirementCode">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <input matInput [(ngModel)]="event.activityDescription" rows="3" placeholder="Descripción" required name="description">
    </mat-form-field>

    <!--<mat-form-field appearance="outline" class="full-width">
      <textarea matInput [(ngModel)]="event.details" rows="3" placeholder="Detalle de la Actividad" name="details"></textarea>
    </mat-form-field>-->

    <div class="duration-container">
      <span>Duración:</span>
      <mat-slide-toggle [(ngModel)]="isFullDay" (change)="onDurationChange()" color="primary" name="durationToggle">
        {{isFullDay ? 'Día Completo' : 'Horas'}}
      </mat-slide-toggle>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Fecha Actividad</mat-label>
        <input matInput
              [matDatepicker]="activityDatePicker"
              [(ngModel)]="event.activityDate"
              required
              name="activityDate"
              placeholder="dd/mm/aaaa">
        <mat-datepicker-toggle matSuffix [for]="activityDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #activityDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!isFullDay">
        <mat-label>Número de Horas</mat-label>
        <input matInput type="number" [(ngModel)]="event.hours" name="hours" min="1" max="8" [required]="!isFullDay" (ngModelChange)="validateHours()">
        <mat-error *ngIf="!isFullDay">
          Horas inválidas (debe ser entre 1 y 8).
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button style="background-color: var(--itg-primary); color: var(--itg-bg)" [mat-dialog-close]="preparePayload()" [disabled]="!isFormValid()">
    {{ data.isEdit ? 'Editar' : 'Agregar' }}
  </button>
</mat-dialog-actions>
