<h2 mat-dialog-title>{{ data.isEdit ? 'Editar actividad' : 'Agregar actividad' }}</h2>

<mat-dialog-content>
  <div class="form-container">

    <!-- Tipo Actividad -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo Actividad</mat-label>
      <mat-select [(ngModel)]="event.activityTypeID" required>
        @for (type of activityTypes; track type) {
          <mat-option [value]="type.id">{{type.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Proyecto -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Proyecto</mat-label>
      <mat-select [(ngModel)]="event.projectId" required>
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="event.activityDescription" rows="3" required></textarea>
    </mat-form-field>

    <!-- Detalle de la actividad -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Detalle de la actividad</mat-label>
      <textarea matInput [(ngModel)]="event.details" rows="3" required></textarea>
    </mat-form-field>

    <!-- Día completo/Medio día -->
    <div class="duration-container">
      <span>Duración:</span>
      <mat-slide-toggle [(ngModel)]="isFullDay" (change)="onDurationChange()" color="primary">
        {{isFullDay ? 'Día completo' : 'Medio día'}}
      </mat-slide-toggle>
    </div>

    <!-- Fecha y horas -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Fecha actividad</mat-label>
        <input matInput [matDatepicker]="activityDatePicker" [(ngModel)]="event.activityDate" required>
        <mat-datepicker-toggle matSuffix [for]="activityDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #activityDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width" *ngIf="!isFullDay">
        <mat-label>Número de horas</mat-label>
        <input matInput type="text" [(ngModel)]="event.hours" min="1" max="8" [required]="!isFullDay">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button style="background-color: var(--primary); color: var(--light)" [mat-dialog-close]="preparePayload()" [disabled]="!isFormValid()">
    {{ data.isEdit ? 'Editar' : 'Agregar' }}
  </button>
</mat-dialog-actions>
