

  <div class="login-container">
    <div class="login-box">


      <h2>Bienvenido</h2>

      <img src="assets\img\logo-isc.webp" alt="Logo" class="logo">


      <form>
        <input class="login-fields" id="users" type="text" placeholder="Usuario" required>
        <input class="login-fields" id="password" type="password" placeholder="Contraseña" required>
        <button type="submit">Login</button>
        <div class="links">
          <a href="#">¿Perdiste tu contraseña?</a>
          <a href="#">¿No tienes Cuenta? Regístrate</a>
        </div>
      </form>


    </div>
  </div>
