

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  height: 100%;
}

.login-box {
  background-color: var(--primary);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-box h2 {
  color: var(--light);
  margin-bottom: 20px;
}

.login-box input {
  width: 50%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.login-box button {
  width: 50%;
  padding: 10px;
  background-color: var(--secondary);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: #90c5e8;
}

.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  display: block;
  color: var(--light);
  text-decoration: none;
  margin: 5px 0;
}

.links a:hover {
  text-decoration: underline;
}

.login-box-logo{
    display: flex;
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    justify-content: center;
    margin: 0 auto;
}

.logo {
  height: auto;  // mantiene proporción
  margin: 10px auto; // centrar horizontalmente si quieres
}

.login-fields {

background-color:  #ffffff;
border-radius: 8px;
border-color: var(dark);
box-shadow: var(dark);

}

input.invalid {
  border: 2px solid red;
  outline: none;
}

.field-error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}
