<mat-card appearance="outlined">
    <mat-card-content>
        <h2>Registrar Líder</h2>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="customer-form-two">

            <mat-form-field appearance="fill" class="full-width form-control">
                <mat-label for="identificationType">Tipo de Identificación</mat-label>
                <mat-select formControlName="identificationType">
                  @for (type of identificationTypes; track type){
                    <mat-option [value]="type.id">{{ type.name }}</mat-option>
                  }
                </mat-select>
                <mat-error>
                  @if(formGroup.get('identificationType')?.invalid && formGroup.get('identificationType')?.touched){
                    Este campo es requerido
                  }
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width form-control">
                <mat-label for="identificationNumber">Número de Identificación</mat-label>
                <input matInput formControlName="identificationNumber" required (blur)="updateIdentificationNumberErrorMessage()"/>
                @if (formGroup.get('identificationNumber')?.invalid && formGroup.get('identificationNumber')?.touched) {
                  <mat-error>
                    @if (formGroup.get('identificationNumber')?.errors?.['required']) {
                      Este campo es requerido
                    }
                    @if (formGroup.get('identificationNumber')?.errors?.['pattern']) {
                      {{ getIdentificationNumberErrorMessage() }}
                    }
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="names">Nombres</mat-label>
                <input matInput formControlName="names" required/>
                @if (formGroup.get('names')?.invalid && formGroup.get('names')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="surnames">Apellidos</mat-label>
                <input matInput formControlName="surnames" required/>
                @if (formGroup.get('surnames')?.invalid && formGroup.get('surnames')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width form-control">
                <mat-label for="gender">Género</mat-label>
                <mat-select formControlName="gender">
                  @for (gender of genders; track gender){
                    <mat-option [value]="gender.id">{{ gender.name }}</mat-option>
                  }
                </mat-select>
                <mat-error>
                  @if(formGroup.get('identificationType')?.invalid && formGroup.get('identificationType')?.touched){
                    Este campo es requerido
                  }
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="cellPhoneNumber">Teléfono Celular</mat-label>
                <input matInput formControlName="cellPhoneNumber" required/>
                @if (formGroup.get('cellPhoneNumber')?.invalid && formGroup.get('cellPhoneNumber')?.touched) {
                  <mat-error>
                    @if (formGroup.get('cellPhoneNumber')?.errors?.['required']) {
                      Este campo es requerido
                    }
                    @if (formGroup.get('cellPhoneNumber')?.errors?.['pattern']){
                      Ingrese un número de teléfono válido (10-15 dígitos)
                    }
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="position">Cargo</mat-label>
                <input matInput formControlName="position" required/>
                @if (formGroup.get('position')?.invalid && formGroup.get('position')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="personalEmail">Correo Personal</mat-label>
                <input matInput formControlName="personalEmail" required/>
                @if (formGroup.get('personalEmail')?.invalid && formGroup.get('personalEmail')?.touched) {
                  <mat-error>
                    @if (formGroup.get('personalEmail')?.errors?.['required']) {
                      Este campo es requerido
                    }
                    @if (formGroup.get('personalEmail')?.errors?.['email']){
                      Ingrese un correo electrónico válido
                    }
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="corporateEmail">Correo Corporativo</mat-label>
                <input matInput formControlName="corporateEmail" required/>
                @if (formGroup.get('corporateEmail')?.invalid && formGroup.get('corporateEmail')?.touched) {
                  <mat-error>
                    @if (formGroup.get('corporateEmail')?.errors?.['required']) {
                      Este campo es requerido
                    }
                    @if (formGroup.get('corporateEmail')?.errors?.['email']){
                      Ingrese un correo electrónico válido
                    }
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="homeAddress">Dirección Domicilio</mat-label>
                <input matInput formControlName="homeAddress" required/>
                @if (formGroup.get('homeAddress')?.invalid && formGroup.get('homeAddress')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width form-control">
                <mat-label for="leaderType">Tipo de Líder</mat-label>
                <mat-select formControlName="leaderType">
                  @for (type of leaderTypes; track type){
                    <mat-option [value]="type.id">{{ type.name }}</mat-option>
                  }
                </mat-select>
                <mat-error>
                  @if(formGroup.get('leaderType')?.invalid && formGroup.get('leaderType')?.touched){
                    Este campo es requerido
                  }
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="projectCode">Código Proyecto</mat-label>
                <input matInput formControlName="projectCode" required/>
                @if (formGroup.get('projectCode')?.invalid && formGroup.get('projectCode')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label for="customerCode">Código Cliente</mat-label>
                <input matInput formControlName="customerCode" required/>
                @if (formGroup.get('customerCode')?.invalid && formGroup.get('customerCode')?.touched) {
                  <mat-error>
                    Este campo es requerido
                  </mat-error>
                }
            </mat-form-field>

            <custom-button text="Guardar" type="submit" [disabled]="formGroup.invalid"></custom-button>

        </form>
    </mat-card-content>
</mat-card>
