.filter-card {
  background: white;
  padding: 18px 22px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}

.filter-item {
  width: 260px;
}

.filter-item.small {
  width: 180px;
}

.export-btn-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

table {
  margin-top: 10px;
}

/* ====== SNACKBAR ====== */
.mat-mdc-snack-bar-container.toast-warning {
  --mdc-snackbar-container-color: #ffffff !important;
  --mdc-snackbar-supporting-text-color: #333 !important;
  padding: 0 !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.18) !important;
  border-left: 4px solid #f2f600 !important;
}

.toast-warning .mdc-snackbar__label {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 10px 14px !important;
}

.toast-warning .mat-icon {
  color: #006bf6 !important;
  font-size: 20px !important;
}

.toast-warning .mdc-button__label {
  color: #1976d2 !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 12px !important;
}

/* ====== TABLE LOADING OVERLAY ====== */
.table-wrapper {
  position: relative;
  min-height: 350px;
}

.table-loading-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.table-loading-overlay p {
  margin-top: 12px;
  font-weight: 600;
  color: #1565c0;
}

/* Animación suave */
.full-table {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mat-paginator {
  background: #fff;
  border-radius: 10px;
  margin-top: 12px;
  padding: 10px 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.mat-paginator-page-size {
  margin-right: 16px !important;
}

.mat-paginator-range-label {
  font-weight: 500;
}


.filter-client {
  width: 320px;

  ::ng-deep .mat-mdc-input-element {
    font-size: 13px !important;
  }
}

/* ===== LÍDER: tamaño medio ===== */
.filter-leader {
  width: 260px;

  ::ng-deep .mat-mdc-input-element {
    font-size: 13x !important;
  }
}

/* ===== FECHAS: más compactas ===== */
.filter-date {
  width: 180px;

  ::ng-deep .mat-mdc-input-element {
    font-size: 13px !important;
  }
}


/* Forzar tipografía estable en inputs y selects */
:host ::ng-deep .mat-mdc-input-element,
:host ::ng-deep .mat-mdc-select-min-line {
  font-family: var(--font-body) !important; /* Raleway en tu caso */
  font-weight: 400;
  font-size: 13px;
}
