<div class="sidenav-container">
  <div class="logo-container">
    <img src="assets/img/logo-isc.png" alt="Logo Integrity" class="logo-img" />
    <div class="logo-text">
      <div class="app-name">SGP<span class="logo-dot">.</span></div>
    </div>
  </div>

  <mat-nav-list>
    <ng-container *ngIf="menuItems.length > 0">
      <ng-container *ngFor="let item of menuItems | orderBy : 'displayOrder'">
        <!-- Ítems simples -->
        <a
          *ngIf="item.type === 'item'"
          mat-list-item
          [routerLink]="item.modulePath"
          routerLinkActive="active-link"
          class="menu-item"
        >
          <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
          <span class="menu-text">{{ item.moduleName }}</span>
        </a>

        <!-- EXPANSION PANELS -->
        <mat-expansion-panel
          *ngIf="item.type === 'expansion'"
          [expanded]="item.expanded"
          class="menu-expansion-panel"
        >
          <!-- CLICK EN PROYECTOS = abrir/cerrar + navegar -->
          <mat-expansion-panel-header
            class="menu-expansion-header"
            (click)="onPanelClick(item, $event)"
          >
            <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
            <span class="menu-text">{{ item.moduleName }}</span>
          </mat-expansion-panel-header>

          <!-- SUBMENÚ -->
          <mat-nav-list>
            <ng-container *ngFor="let option of item.options">
              <!-- SUBMENÚ REPORTES -->
              <div
                *ngIf="option.type === 'expansion'"
                class="submenu-expansion"
              >
                <div
                  class="submenu-header"
                  (click)="option.expanded = !option.expanded"
                >
                  <mat-icon class="submenu-icon">{{ option.icon }}</mat-icon>
                  <span class="submenu-text">{{ option.moduleName }}</span>

                  <mat-icon class="submenu-arrow">
                    {{ option.expanded ? "expand_less" : "expand_more" }}
                  </mat-icon>
                </div>

                <div class="submenu-body" *ngIf="option.expanded">
                  <a
                    mat-list-item
                    *ngFor="let sub of option.options"
                    [routerLink]="sub.modulePath"
                    routerLinkActive="active-link"
                    class="submenu-item"
                  >
                    <mat-icon class="menu-icon">{{ sub.icon }}</mat-icon>
                    <span class="menu-text">{{ sub.moduleName }}</span>
                  </a>
                </div>
              </div>

              <!-- ITEMS NORMALES -->
              <a
                *ngIf="option.type === 'item'"
                mat-list-item
                [routerLink]="option.modulePath"
                routerLinkActive="active-link"
                class="submenu-item"
              >
                <mat-icon class="menu-icon">{{ option.icon }}</mat-icon>
                <span class="menu-text">{{ option.moduleName }}</span>
              </a>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </mat-nav-list>
</div>
