<div class="sidenav-container">
  <div class="logo-container">
    <img src="assets/img/logo-isc.png" alt="Logo Integrity" class="logo-img" />
    <div class="logo-text">
      <div class="app-name">TimeReport<span class="logo-dot">.</span></div>
    </div>
  </div>

  <mat-nav-list>
    <a  mat-list-item
        *ngFor="let menu of options"
        [routerLink]="menu.modulePath"
        routerLinkActive="active-link"
        class="menu-items"
    >
      <mat-icon>
        {{menu.icon}}
      </mat-icon>
      {{ menu.moduleName }}
    </a>
  </mat-nav-list>
</div>
