<app-loading *ngIf="isLoading"></app-loading>
<h4 mat-dialog-title style="margin: 10px; font-family: 'Poppins'">
  {{ isEditMode ? 'Editar Proyecto' : 'Crear Nuevo Proyecto' }}
</h4>
<mat-dialog-content>
  <form [formGroup]="projectForm" class="full-width" style="margin-top: 5px;">

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field-half">
        <input matInput formControlName="code" placeholder="Código del Proyecto">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-half">
        <input matInput formControlName="name" placeholder="Nombre del Proyecto">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="description" placeholder="Descripción">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field-half">
        <mat-select formControlName="clientId" placeholder="Cliente">
          <!-- Campo de búsqueda para clientes -->
          <mat-option>
            <ngx-mat-select-search
              [formControl]="clientFilterCtrl"
              placeholderLabel="Buscar cliente..."
              noEntriesFoundLabel="No se encontraron clientes">
            </ngx-mat-select-search>
          </mat-option>

          @if (isLoadingClients) {
            <mat-option disabled>Cargando clientes...</mat-option>
          } @else {
            @for (client of filteredClients | async; track client.id) {
              <mat-option [value]="client.id">{{client.tradeName}}</mat-option>
            }
          }
        </mat-select>
        @if (isLoadingClients) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field-half">
        <mat-select formControlName="projectStatusId" placeholder="Estado del Proyecto">
          @for (code of projectCodes; track code) {
            <mat-option [value]="code.id">{{code.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- Selector de tipo de proyecto -->
      <mat-form-field class="form-field-half" appearance="outline">
        <mat-label>Tipo de proyecto</mat-label>
        <mat-select formControlName="projectTypeId" required>
          <mat-option *ngFor="let type of formattedProjectTypes" [value]="type.id">
            {{ type.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field-half" appearance="outline">
        <input matInput [matDatepicker]="picker1" formControlName="startDate" placeholder="Fecha de Inicio">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field-half" appearance="outline">
        <input matInput [matDatepicker]="picker2" formControlName="endDate" [min]="projectForm.get('startDate')?.value" placeholder="Fecha de Terminación">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="projectForm.get('endDate')?.hasError('required')">
          La fecha de fin es requerida
        </mat-error>
        <mat-error *ngIf="projectForm.hasError('dateRange')">
          La fecha de fin no puede ser anterior a la fecha de inicio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label style="font-family: 'Poppins'; ">Presupuesto</mat-label>
        <input matInput formControlName="budget" type="number" min="0" placeholder="Presupuesto">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label style="font-family: 'Poppins'; ">Número de Horas</mat-label>
        <input matInput formControlName="hours" type="number" min="0" placeholder="Número de Horas">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()" >Cancelar</button>
  <button mat-raised-button
          style="background-color: var(--itg-primary); color: var(--itg-bg)"
          (click)="onSubmit()"
          [disabled]="projectForm.invalid || projectForm.pending || isSubmitting">
    {{isSubmitting ? 'Guardando...' : 'Guardar'}}
  </button>
</mat-dialog-actions>
