.page-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
:host ::ng-deep .mat-mdc-input-element,
:host ::ng-deep .mat-mdc-select-value-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
}
